<!DOCTYPE html>
<html lang="en">
<head>
    <!--basic info always included in html-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <!--basic info ends here-->

    <title>Nutrient Noobs || Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--ICON STYLESHEET-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="container userForms">
        <div class="login">
            <header id="idTitle">Log In</header>

            <!--Actual info regarding login goes here-->
            <form action="#">
                <!--Removed email to add username instead-->
                <div class="inputField">
                    <input class="input" type="" placeholder="Username">
                </div>

                <!--User password-->
                <div class="inputField">
                    <input class="input" type="password" placeholder="Password">
                </div>

                <!--QUESTION: do we want some way for user's to reset password?-->

                <div class="loginButton">
                    <button>Log In</button>
                </div>

                <div class="link">
                    <span>Don't Have an account? <a href="{{ url_for('signup') }}" class="link">Sign up!</a></span>
                </div>
            </form>

            <div class="homeButton">
                <a href="{{ url_for('index') }}"><button><i class="fa fa-home"></i></button></a>
            </div>

        </div>
    </section>

    <!--JAVASCRIPT COMPONENTS MUST BE LOADED AFTER EVERYTHING CONNECTED TO THEM IS LOADED-->
    <script src="{{ url_for('static', filename='authorization.js') }}"></script>

</body>
</html>
