<!DOCTYPE html>
<html lang="en">
<head>
    <!--basic info always included in html-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <!--basic info ends here-->

    <title>Nutrient Noobs || Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!--HEADER -- holds the navigation bar and logo-->
    <header>
        <div class="header">

            <!--LOGO HERE-->
            <div class="logo">
                <img src="{{ url_for('static', filename='Nutrient Noob Logo.png') }}">
            </div>

            <!--NAVIGATION BAR HERE-->
            <div class="nav">
                <ul>
                    <li><a href="{{ url_for('account') }}">Account</a></li>
                    <li><a href="{{ url_for('nutrition') }}">Nutrition</a></li>
                    <li><a class="active" href="{{ url_for('recipes') }}">Recipes</a></li>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <!--<input type="text" placeholder="Search..">-->
                    <!--<li><input type="search" placeholder="Search..."></li>-->
                </ul>
            </div>

            <div id="user-buttons">
                <a href="{{ url_for('login') }}">
                    <button id="login">Log In</button>
                </a>
                <a href="{{ url_for('signup') }}">
                    <button id="signup">Sign Up</button>
                </a>
            </div>
        </div>

    </header>



    <div class="body" id="ingredientSelect">

            
            <!--IDK how you want to collect the responses I just put in a form placeholder for now-->
            <h1>What will you make? Select your ingredients:</h1>
            <li>
                Ingredient 1: <input type="text" id="ingredient1" placeholder="">
            </li>
            <li>
                Ingredient 2: <input type="text" id="ingredient2" placeholder="">
            </li>
            <li>
                Ingredient 3: <input type="text" id="ingredient3" placeholder="">
            </li>
            <li>
                Ingredient 4: <input type="text" id="ingredient4" placeholder="">
            </li>
        
            <div class="button" id="recipesButton"><button>Find recipes!</button></div>
            



    </div>
        <!-- code for readmore feature -->
        <!--<div class="body" id="body">
            <div class="searchResults" id="searchResults">
                <h1>Recipe Title/Name</h1>
                <p>Here are the first x characters of the recipe description, ingredients, or however the information end up organized<span id="dots">...</span><span id="more"> and here is the rest of the description/maybe the entire recipe. And now I will write gibberish so that it goes to the second line or perhaps even further who knows pop pop pop.</span></p>
                <button onclick="readMore()" id="readMoreBtn">Read more</button>
            </div>
        </div>-->

    

    <div class="sign-up" id="sign-up">
        <div id="sign-upInfo" style="display: none;" class="sign-upInfo">
            <div class=></div>
        </div>
    </div>


    <script>
    document.getElementById('recipesButton').addEventListener('click', function() {
        // Get the ingredient values from the input fields
        var ingredient1 = document.getElementById('ingredient1').value.trim();
        var ingredient2 = document.getElementById('ingredient2').value.trim();
        var ingredient3 = document.getElementById('ingredient3').value.trim();
        var ingredient4 = document.getElementById('ingredient4').value.trim();

        
        // Create an object with the ingredient values
        var ingredients = {
            ingredient1: ingredient1,
            ingredient2: ingredient2,
            ingredient3: ingredient3,
            ingredient4: ingredient4
        };


        // Send a POST request to the server with the ingredient data
        fetch('/get_recipes', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ingredients: ingredients})
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }
            throw new Error('Network response was not ok.');
        })
        .then(data => { //redirection of data 
            sessionStorage.setItem('recipeData', JSON.stringify(data));
            console.log(data);
            window.location.href = '/recipesearch';
            
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
    });
</script>

    <script src="{{ url_for('static', filename='readMore.js') }}"></script>
    

</body>

</html>