<!DOCTYPE html>
<html lang="en">
<head>
    <!--basic info always included in html-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--basic info ends here-->

    <title>Nutrient Noobs || Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!--HEADER -- holds the navigation bar and logo-->
    <header>
        <div class="header">

            <!--LOGO HERE-->
            <div class="logo">
                <img src="{{ url_for('static', filename='Nutrient Noob Logo.png') }}">
            </div>

            <!--NAVIGATION BAR HERE-->
            <div class="nav">
                <ul>
                    <li><a href="{{ url_for('account') }}">Account</a></li>
                    <li><a href="{{ url_for('nutrition') }}">Nutrition</a></li>
                    <li><a class="active" href="{{ url_for('recipes') }}">Recipes</a></li>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <!--<input type="text" placeholder="Search..">-->
                    <!--<li><input type="search" placeholder="Search..."></li>-->
                </ul>
            </div>

            <div id="user-buttons">
                <a href="{{ url_for('login') }}">
                    <button id="login">Log In</button>
                </a>
                <a href="{{ url_for('signup') }}">
                    <button id="signup">Sign Up</button>
                </a>
            </div>
        </div>

    </header>

    <main>
    
    <div class="nutrientSearchResults" id="nutrientSearchResults">
        <h1 id="recipeName">
            <!--result will change dependent on the recipe clicked by the user-->
        </h1>
        <ul id="searchResultsList">
            <!-- Results will be dynamically added here -->
        </ul>
    </div>
    </main>

    <div class="button" id="recipeButtons">
        <button id="addToFavorites">Add to favorites!</button>
        <button id="returnToSearch">Return to search</button>
    </div>



    <script>
            // this script displays the ingredients returned by the nutrienta search
        const data = JSON.parse(sessionStorage.getItem('recipeInfo'));
        console.log(data);
        load_recipe_data(data);
    
        function load_recipe_data(data) {
            var recipeInfoContainer = document.createElement('div');
            recipeInfoContainer.setAttribute('id', 'recipeInfo');
            var recipeInfoHTML = '';
            const nutritionArray = JSON.parse(data.nutrition);
            const ingredientsString = data.ingredients.substring(1, data.ingredients.length - 1);
            const ingredientsArray = ingredientsString.split("', '");
            //ingredientsArray.setAttribute('id', 'ingredients');
            
            const stepsString = data.steps.substring(1, data.steps.length - 1);
            const stepsArray = stepsString.split("', '");
	    sessionStorage.setItem('recipeName', JSON.stringify(data.name));



            //recipeInfoHTML += '<br>';
            recipeInfoHTML += '<h2 id= "recipeTitle">How to make: "' + data.name + '"</h2>';
            recipeInfoHTML += '<br>';

            var recipeDescript = document.createElement('div');
            recipeDescript.setAttribute('class', 'recipe-info-box'); 
            recipeInfoHTML += '<p class="recipeDescription">About this recipe: ' + data.description.charAt(0).toUpperCase() + data.description.substring(1, data.description.length - 1) + '</p>';
            recipeInfoHTML += '<p class="recipeMinutes">Time to make: ' + data.minutes + ' minutes </p>';
            
            recipeInfoHTML += '<br>';
            recipeInfoHTML += '<div class="recipeIngredients">';
            recipeInfoHTML += '<p id="ingredientsNeededTitle">Ingredients needed: </p>'
            for (ingredient in ingredientsArray) {
                ingredientstring = ingredientsArray[ingredient]
                if (ingredient == 0) {
                    ingredientsArray[ingredient] = ingredientstring.charAt(1).toUpperCase() + ingredientstring.slice(2) + ", ";
                }
                else if (ingredient == ingredientsArray.length - 1) {
                    ingredientsArray[ingredient] = ingredientstring.charAt(0).toUpperCase() + ingredientstring.substring(1, ingredientstring.length - 1);
                }
                else {
                    ingredientsArray[ingredient] = ingredientstring.charAt(0).toUpperCase() + ingredientstring.slice(1) + ", ";
                }
                recipeInfoHTML += ingredientsArray[ingredient]; 
            }
            recipeInfoHTML += '</div>';

            recipeInfoHTML += '<div class="recipeSteps">';
            recipeInfoHTML += '<br>' + '<br>';
            recipeInfoHTML += '<p id="instructionsLabel">Instructions: </p>'
            
            for (step in stepsArray) {
                stepstring = stepsArray[step]
                int_step = parseInt(step);
                if (step == 0) {
                    stepsArray[step] = "1. " + stepstring.charAt(1).toUpperCase() + stepstring.slice(2) + '<br>';
                }
                else if (step == stepsArray.length - 1) {
                    stepsArray[step] = stepsArray.length + ". " + stepstring.charAt(0).toUpperCase() + stepstring.substring(1, stepstring.length - 1);
                }
                else {
                    stepsArray[step] = (int_step + 1) + ". " + stepstring.charAt(0).toUpperCase() + stepstring.slice(1) + '<br>';
                }
                recipeInfoHTML += stepsArray[step]; 
            } 
            recipeInfoHTML += '</div>';
            recipeInfoHTML += '<br>' + '<br>';
            
            recipeInfoHTML += '<div class="nutrition">';
            recipeInfoHTML += '<p>Nutrition Facts:</p>';
            recipeInfoHTML += '<p>&nbsp;&nbsp;&nbsp;&nbsp;Calories: ' + nutritionArray[0] + '</p>';
            recipeInfoHTML += '<p>&nbsp;&nbsp;&nbsp;&nbsp;Total Fat: ' + nutritionArray[1] + '% PDV</p>';
            recipeInfoHTML += '<p>&nbsp;&nbsp;&nbsp;&nbsp;Sugar: ' + nutritionArray[2] + '% PDV</p>';
            recipeInfoHTML += '<p>&nbsp;&nbsp;&nbsp;&nbsp;Sodium: ' + nutritionArray[3] + '% PDV</p>';
            recipeInfoHTML += '<p>&nbsp;&nbsp;&nbsp;&nbsp;Protein: ' + nutritionArray[4] + '% PDV</p>';
            recipeInfoHTML += '<p>&nbsp;&nbsp;&nbsp;&nbsp;Saturated Fat: ' + nutritionArray[5] + '% PDV</p>';
            recipeInfoHTML += '<p>&nbsp;&nbsp;&nbsp;&nbsp;Carbohydrates: ' + nutritionArray[6] + '% PDV</p>';
            recipeInfoHTML += '</div">';

            
            recipeInfoContainer.innerHTML = recipeInfoHTML;
            var mainElement = document.querySelector('main');
            mainElement.appendChild(recipeInfoContainer);
        }

        document.getElementById('returnToSearch').addEventListener('click', function() {
            // Redirect to the search page
            window.location.href = "{{ url_for('recipes') }}"; // Replace 'search_page' with the actual route
        });
        document.getElementById('addToFavorites').addEventListener('click', function() {
            const recipeName = JSON.parse(sessionStorage.getItem('recipeName'));
            const userID = JSON.parse(sessionStorage.getItem('user_id'));
            if (userID == null) {
                alert("You must sign in to add this recipe to favorites");
                return;
            }
            var favoriteRecipeInfo = {
                userID: userID,
                recipeName: recipeName
            };
            console.log(favoriteRecipeInfo);

            fetch('/favorite_recipe', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            
            body: JSON.stringify({favoriteRecipeInfo: favoriteRecipeInfo})
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => { //redirection of data 
                
                console.log(data);
                if (data == false) {
                    alert("Error: Recipe already in favorites or list full (Maximum 10)");
                    return;
                }
                else {
                    alert("Recipe succesfully added to favorites!");
                    return;
                }
                
                
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            })
        });
    </script>
</body>
</html>
