<!DOCTYPE html>
<html lang="en">
<head>
    <!--basic info always included in html-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--basic info ends here-->

    <title>Nutrient Noobs || Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!--HEADER -- holds the navigation bar and logo-->
    <header>
        <div class="header">

            <!--LOGO HERE-->
            <div class="logo">
                <img src="{{ url_for('static', filename='Nutrient Noob Logo.png') }}">
            </div>

            <!--NAVIGATION BAR HERE-->
            <div class="nav">
                <ul>
                    <li><a href="{{ url_for('account') }}">Account</a></li>
                    <li><a href="{{ url_for('nutrition') }}">Nutrition</a></li>
                    <li><a class = "active" href="{{ url_for('recipes') }}">Recipes</a></li>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <!--<input type="text" placeholder="Search..">-->
                    <!--<li><input type="search" placeholder="Search..."></li>-->
                </ul>
            </div>

            <div id="user-buttons">
                <a href="{{ url_for('login') }}">
                    <button id="login">Log In</button>
                </a>
                <a href="{{ url_for('signup') }}">
                    <button id="signup">Sign Up</button>
                </a>
            </div>
        </div>

    </header>
    
    <div class="recipeSearchResults" id="recipeSearchResults">
        <h1>Search Results:</h1>
        <ul id="searchResultsList">
            <!-- Results will be dynamically added here -->
        </ul>
    </div>

    <script>
        // this script displays the ingredients returned by the nutrienta search
        const data = JSON.parse(sessionStorage.getItem('recipeData'));
        const searchResultsList = document.getElementById('searchResultsList');

        if (data) {
            // logs vector in the console for development purposes
            console.log(data);
            for (var i = 0; i < data.length; i++) {
                const listItem = document.createElement('li');
                const id = data[i][1]; 
                listItem.setAttribute('id', id);
                const link = document.createElement('a'); // link to the recipe instructions page
                const title = document.createElement('h2');

                // uncommenting this line will break the program
                //link.href = "/recipeinstructions";
                
                title.textContent = data[i][0]; // access the correct index within the array
                link.appendChild(title); 
                listItem.appendChild(link); 
                searchResultsList.appendChild(listItem);

                
                listItem.addEventListener('click', function() {
                    const id = this.id;
                    
                    fetch('/get_instructions', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ id : id })
                    }).then(response => {
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error('Network response was not ok.');
                    }).then(data => { //redirection of data 
                        sessionStorage.setItem('recipeInfo', JSON.stringify(data));
                        //console.log(data);
                        window.location.href = '/recipeinstructions';
                        
                    }).catch(error => {
                        console.error('There was a problem with the fetch operation:', error);
                    });
                });
            }

        } 
        else {
            console.error('No data found in session storage');
            const title = document.createElement('h2');

            title.textContent = "No recipe matches the requested ingredient list";
            searchResultsList.appendChild(title);
        }
    </script>
</body>
</html>