<!DOCTYPE html>
<html lang="en">
<head>
    <!--basic info always included in html-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <!--basic info ends here-->

    <title>Nutrient Noobs || Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!--HEADER -- holds the navigation bar and logo-->
    <header>
        <div class="header">

            <!--LOGO HERE-->
            <div class="logo">
                <img src="{{ url_for('static', filename='Nutrient Noob Logo.png') }}">
            </div>

            <!--NAVIGATION BAR HERE-->
            <div class="nav">
                <ul>
                    <li><a href="{{ url_for('account') }}">Account</a></li>
                    <li><a href="{{ url_for('nutrition') }}">Nutrition</a></li>
                    <li><a class="active" href="{{ url_for('recipes') }}">Recipes</a></li>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <!--<input type="text" placeholder="Search..">-->
                    <li><input type="search" placeholder="Search..."></li>
                </ul>
            </div>

            <div id="user-buttons">
                <a href="{{ url_for('login') }}">
                    <button id="login">Log In</button>
                </a>
                <a href="{{ url_for('signup') }}">
                    <button id="signup">Sign Up</button>
                </a>
            </div>
        </div>

    </header>

    <div class="body" id="body">

            
            <!--IDK how you want to collect the responses I just put in a form placeholder for now-->
            <h2>What will you make? Select your ingredients:</h2>
            <li>
                Ingredient 1: <input type="text" id="ingredient1" placeholder="">
            </li>
            <li>
                Ingredient 2: <input type="text" id="ingredient1" placeholder="">
            </li>
            <li>
                Ingredient 3: <input type="text" id="ingredient1" placeholder="">
            </li>
            <li>
                Ingredient 4: <input type="text" id="ingredient1" placeholder="">
            </li>
        
            



    </div>
    
        <div class="body" id="body">
            <div class="searchResults" id="searchResults">
                <h1>Recipe Title/Name</h1>
                <p>Here are the first x characters of the recipe description, ingredients, or however the information end up organized<span id="dots">...</span><span id="more"> and here is the rest of the description/maybe the entire recipe. And now I will write gibberish so that it goes to the second line or perhaps even further who knows pop pop pop.</span></p>
                <button onclick="readMore()" id="readMoreBtn">Read more</button>
            </div>
        </div>

    

    <div class="sign-up" id="sign-up">
        <div id="sign-upInfo" style="display: none;" class="sign-upInfo">
            <div class=></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='readMore.js') }}"></script>
    <script src="{{ url_for('static', filename='searchingNutrient.py') }}"></script>

</body>

</html>