<!DOCTYPE html>
<html lang="en">
<head>
    <!--basic info always included in html-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <!--basic info ends here-->

    <title>Nutrient Noobs || Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!--ICON STYLESHEET-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <section class="container userForms">
        <div class="signup">
            <header id="idTitle">Sign Up</header>

            <!--Actual info regarding signup goes here-->
            <form action="#">
                <!--User's name-->
                <div class="inputField">
                    <input class="input" type="text" id="username" placeholder="Username">
                </div>
                
                <!--User email-->
                <!--Can we remove email for now to make sign in easier?-->
                <div class="inputField">
                    <input class="input" type="text" id="email"placeholder="Email">
                </div>

                <!--User password-->
                <div class="inputField">
                    <input class="input" type="password" id="password" placeholder="Password">
                </div>

                <div class="inputField">
                    <input class="input" type="password" id="confirm_password" placeholder="Confirm Password">
                </div>

                <!--QUESTION: do we want some way for user's to reset password?-->
                <!--CHANGED BUTTON TO HAVE TYPE-->
                

                <div class="link">
                    <span>Already have an account? <a href="{{ url_for('login') }}" class="link">Log in!</a></span>
                </div>
            </form>
            <div class="loginButton" id="signupButton">
                <button type="submit">Sign Up</button>
            </div>

            <div class="homeButton">
                <a href="{{ url_for('index') }}"><button><i class="fa fa-home"></i></button></a>
            </div>

        </div>
    </section>

    <script>
        document.getElementById('signupButton').addEventListener('click', function() {
            // Get the signup values from the input fields
            var username = document.getElementById('username').value.trim();
            var email = document.getElementById('email').value.trim();
            var password = document.getElementById('password').value.trim();
            var confirm_password = document.getElementById('confirm_password').value.trim();
            
            // Check if passwords match
            if (password !== confirm_password) {
                alert('Passwords do not match');
                return;
            }

            // Check password criteria
            var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;
            if (!passwordRegex.test(password)) {
                alert('Password must be at least 8 characters long, contain at least one uppercase letter, and one number');
                return;
            }
            // Check if email contains '@' and '.'
            if (email.indexOf('@') === -1 || email.indexOf('.') === -1) {
                alert('Invalid email address');
                return;
            }

            var user_data = {
                username: username,
                email: email,
                password: password
            };

        
            
            // Send a POST request to the server with the user data
            fetch('/get_user_data', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({user_data: user_data})
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
                
                console.log(data);
                if (data == 0) {
                    alert('Username or email already exists');
                    return
                }
                else {
                    sessionStorage.setItem('username', username);
                    sessionStorage.setItem('user_id', JSON.stringify(data));
                    console.log("ok");
                    window.location.href = '/usersetup';
                }
                
                
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            }); 
        });
    </script>

    <!--<script src="{{ url_for('static', filename='authorization.js') }}"></script> -->

</body>

</html>
